body {
  font-family: "roboto", sans-serif;
  color: var(--navyblue);
}
:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --white: #fff;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
}
.logo-header {
  font-family: "raleway", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16667;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--navyblue);
}
.logo-footer {
  font-family: "raleway", sans-serif;
  color: var(--cloud);
  text-decoration: none;
  font-weight: 800;
  line-height: 1.16667;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-link {
  color: var(--iris);
}
footer {
  background-color: Var(--navyblue);
  color: var(--cloud);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.menu-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  color: var(--navyblue);
}
.menu-item:focus {
  color: var(--ocean);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.menu-item:hover {
  color: var(--ocean);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.contacts {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.contacts:focus {
  color: var(--ocean);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.contacts:hover {
  color: var(--ocean);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
h1 {
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 1.12px;
  text-align: center;
  color: var(--white);
  background-color: var(--navyblue);
}
.order-service-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  border-radius: 4px;
  border-color: var(--iris);
  font-family: inherit;
}
.order-service-button:hover,
.order-service-button:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.company-adventages {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.company-adventages-description {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.position {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.project-description-buttons {
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--cornflower);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud, #f4f4fd);
  font-family: inherit;
}
.project-description-buttons:focus,
.project-description-buttons:hover {
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--ocean);
  border-color: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.project-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.project-description {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
